@using Day1.ViewModel;
@model InstructorDeptCrs


<h1>Add Instructor</h1>

<form asp-action="SaveInstructor" asp-controller="Instructor" method="post">
	<div class="mb-3">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control">
	</div>

	<div class="mb-3">
		<label asp-for="ImageSrc" class="form-label"></label>
		<input asp-for="ImageSrc" class="form-control">

	</div>
	
	<div class="mb-3">
		<label asp-for="Salary" class="form-label"></label>
		<input asp-for="Salary" class="form-control">
	</div>

	<div class="mb-3">
		<label asp-for="Address" class="form-label"></label>
		<input asp-for="Address" class="form-control">
	</div>

	<div class="mb-3">
		<label for="Department">Department</label>
		<select class="form-select" aria-label="Default select example" asp-for="DepartmentId" asp-items="Model.departmentList">
			@* @foreach (var department in Model?.department)
			{
					if(Model.DepartmentId == department.Id)
					{
						<option selected value="@department.Id">@department.Name</option>
					}
					else
					{
						<option value="@department.Id">@department.Name</option>
					}
			} *@
		</select>
	</div>

	<div class="mb-3">
		<label asp-for="CourseId"></label>
		<select asp-for="CourseId" class="form-select" aria-label="Default select example" asp-items="Model.coursesList">
			@* @foreach (var crs in Model?.course)
			{
				if (Model.CourseId == crs.Id)
				{
					<option selected value="@crs.Id">@crs.Name</option>
				}
				else
				{
					<option value="@crs.Id">@crs.Name</option>
				}
			} *@
		</select>
	</div>

	@* <div class="mb-3">
		<div class="mb-3">
			<label asp-for="DepartmentId"></label>
			<select asp-for="DepartmentId" asp-items="Model.DepartmentList" class="form-select">
			</select>
		</div>
	</div> *@

	<button type="submit" value="Save" class="btn btn-primary">Submit</button>
</form>